<button *ngIf="printDoc" class="btn btn-primary closepdf" (click)="this.printDoc=FALSE">schließen</button>
<div class="container header-bar" [hidden]="printDoc">
    <div class="row">
          <div class="col-4">

                     <h2>Lebens<span style="color: #F0801C">läufer</span></h2>
               
         </div> 
    
         <div class="col-2">
                <button (click)="pdfButtonpressed()" class="btn btn-primary">PDF Drucken</button>
         </div>
     </div>
              
              
              
</div>

<div class="container" [hidden]="printDoc">
   
  <app-contact-data></app-contact-data>
<br>

  <app-position-list></app-position-list>

</div>
<div  #pdfTable [hidden]="!printDoc">

 
    
        <div class="header">
                <h1>{{this.contdataForHMTL?.name}}</h1>
        
                <ul>
                        <li>Wohnort: {{this.contdataForHMTL?.street}}, {{this.contdataForHMTL?.pcode}} {{this.contdataForHMTL?.city}}</li>
                        <li>Telefon: {{this.contdataForHMTL?.tel}}</li>
                        <li>E-Mail: {{this.contdataForHMTL?.email}}</li>
                       
                    </ul>
                 
                   
        </div>
                   
        

            
        <div class="main-section">
                <h1>Berufserfahrung</h1>
          <div class="position" 
          [ngClass]="{'noline':((i+1)==this.arrdataForHMTL.length)}" 
          *ngFor="let position of this.arrdataForHMTL; let i=index">

                
            <div>       
             
               {{position?.from}} – {{position?.to}} <b>{{position?.company}}</b> , <u>{{position?.role}}</u> 
                         
                <div  [innerHTML]=position.description></div> <!-- SECUIRTY BREACH;!!!!!! ONLY FOR TESTING -->
                
            </div>

               
        </div>

        <br>
        <br>

        <div class="main-section nobreak" >
                <h1>Skills</h1>

                    <div class="skills">
                    
                            <h4>velit esse</h4>
                            <ul>
                                <li>co laboris nisi ut aliquip ex ea commodo consequat. Duis aute </li>  
                                <li>co laboris nisi ut uis aute </li>
                              
                            </ul>
                    </div>
                    
                  
                    <div class="skills">
                    
                        <h4>velit esse</h4>
                        <ul>
                            <li>co laboris nisi ut aliquip ex ea commodo consequat. Duis aute </li>  
                            <li>co laboris nisi ut uis aute </li>
                          
                        </ul>
                    </div>
                
                    <div class="skills">
                    
                        <h4>velit esse</h4>
                        <ul>
                            <li>co laboris nisi ut aliquip ex ea commodo consequat. Duis aute </li>  
                            <li>co laboris nisi ut uis aute </li>
                          
                        </ul>
                    </div>
            
         </div>

        </div>

