<form [formGroup]="contactData"> 
    <div class="form-group">
      <div class="form-row">

        <div class="col">
          <label for="name">Name: </label> <input class="form-control" formControlName="name" type="text">
          <label for="email">Email: </label> <input class="form-control" name="name" type="email">
          <label for="tel">Telefon: </label> <input class="form-control" name="tel" type="text">
        </div>

        <div class="col">
          <label for="street">Straße: </label> <input class="form-control" name="street" type="text">
          <label for="pcode">PLZ: </label> <input class="form-control" name="pcode" type="text">
          <label for="city">Ort: </label> <input class="form-control" name="city" type="text">
        </div>

      </div>
    </div>
  </form> 