<form [formGroup]="contactData">
  <div class="form-group">

    <div class="form-row">


      <div class="col-3">
        <label for="name">Name: </label> <input class="form-control" formControlName="name" type="text">

        <label for="email">Email: </label> <input class="form-control" formControlName="email" type="email">
        <label for="tel">Telefon: </label> <input class="form-control" formControlName="tel" type="text">
      </div>


      <div class="col-4">
        <label for="street">Straße: </label> <input class="form-control" formControlName="street" type="text">
        <div class="row">
          <div class="col-4">
            <label for="pcode">PLZ: </label> <input class="form-control" formControlName="pcode" type="text"> </div>
          <div class="col">
            <label for="city">Ort: </label> <input class="form-control" formControlName="city" type="text">
          </div>
        </div>


      </div>
    </div>
  </div>
</form>